
body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #43c2f70f;
  
  
}

.landing-pg-img {
  border-end-end-radius: 31%;
  border-end-start-radius: 15%;
}


#experience-tab {
  scroll-margin-top: 60px;
  
}

.landing-pg, #certificates-tab, #education-tab, #skills-tab, #projects-tab{
  scroll-margin-top: 60px;
}


.transcript-img{
  border-radius: 10px;
   
}

.edu-details{

  background-color: whitesmoke;
  border-radius: 10px;

  
}

.accordion-button .center-align-text {
  text-align: center;
  width: 100%; 
}

.job-duties, .edu-details ul{

  text-align: left;
  list-style-type: "✨ "; 
}

.job-duties li, .edu-details ul li{
  margin-bottom: 10px;
}


.tech-stack{

  display: flex;

}

.card-text{
  margin-bottom: 2px !important;
}

.projects-btn{
  display: flex;
  justify-content: center;
}

.profile{
  background: linear-gradient(60deg, #004e92, #e5e5e5);
  height: 400px;
  display: flex;
  align-items: end;
  border-radius: 20px;
}

.display-3{
  background: -webkit-linear-gradient(45deg, #003366, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.contact-icon:hover, .btn:hover{
  filter: brightness(60%);
}

.github-icon:hover {
  opacity: 0.7;
}

.contact-icon{
  margin-right: 1rem;
}

h1{
color:  #02305d;
}
.offcanvas {

  width: calc(var(--bs-offcanvas-width) / 2) !important;

}

.active{

  font-weight: bolder;
  border-bottom: 3px solid #003366 ;
  
}

.nav-link:hover{
  font-weight: bold;
}

.navbar{
  background-color: white !important;
  
}



.accordion-button,.accordion-header .accordion-button, .card-header ,.project-card, .certificate-body{
  background-color: #43c2f738 !important;
  
  
}

.accordion-body{
  background-color: whitesmoke;
}

.job-card{
  border: none;
  background: transparent;

}

.card-body{

  color: #003366 ;
}


.accordion{
  
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.card-header:first-child {
  border-bottom: hidden;
  padding-bottom: 0;
}

.btn{
  background-color: #003366;
  color: white;
  border: hidden;
}

.btn:hover{

  background-color: #003366;
}

.project-card:hover, .accordion-item:hover{

  box-shadow: 5px 5px 5px lightblue;
}

@media (max-width: 992px) {
  
  .accordion{
  
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

