body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.landing-pg-img {
  border-end-end-radius: 31%;
  border-end-start-radius: 15%;
}

.landing-pg {
  height: 100vh;
}

.navbar,
.offcanvas {
  color: white !important;
}

.experience{

  margin-top: 3;
}

.history{
  display: grid;
  grid-template-columns: 1fr 0.01fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

 
}

.history-tab{
  height: 200px;  
  transition: 0.5s;   
 
}


.center-line{
  background-color: #1E90FF;
  position: relative;

}

.left-side{
 
  text-align: right;
  
}

.right-side{
 
  text-align: left;
  
}


.circle {
  position: absolute;
    width: 289%;
    height: 9%;
    border-radius: 50%;
    background-color: #1E90FF;
    left: -90%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 7px; 
}

.left-triangle {
  position: absolute;
  left: -1.5em; 
  top: 50%;
  transform: translateY(-50%); /* Center the triangle vertically */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.7em 1.4em 0.7em 0; /* Relative to font-size of .circle */
  border-color: transparent #1E90FF transparent transparent ;
}

.right-triangle {
  position: absolute;
  right: -1.5em; /* Adjust this value based on the size of the .circle */
  top: 50%;
  transform: translateY(-50%); /* Center the triangle vertically */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.7em 0 0.7em 1.4em; /* Relative to font-size of .circle */
  border-color: transparent transparent transparent #1E90FF;
}